.header-body {
  display: flex;
  padding: $padding-default;
  justify-content: space-between;
}

.header-list__block {
  display: flex;
  justify-content: end;
  align-items: center;
  transition: left .4s;

  &.burger-active {
    left: 0;
  }
}

.header-list {
  display: flex;
  align-items: center;

}

.header-link {
  @include fontz('Montserrat', 500, 16px, normal);
  color: #000;
  text-decoration: none;
}

.header-list__item {
  list-style-type: none;


  &[data-g] {
    margin-right: 25px;
  }
}

.header-phone__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-phone {
  @include fontz('Montserrat', 400, 18px, normal);
  display: flex;
  align-items: center;

  .header-phone__city {
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dashed $red;
    padding-bottom: 5px;
  }

  .header-phone__number {
    color: $red;
    font-size: 17px;
  }
}

.hidden-burger__toggle {
  padding-bottom: 25px;
  display: none;
  align-self: end;
  font-size: 80px;
  color: #fff;
}

.burger-toggle__block {
  padding-top: 10px;
  display: none;
  align-items: start;
  justify-content: end;
}

.burger-toggle {
  margin-right: 40px;
  display: none;
  flex-direction: column;
  align-items: end;
  transition: all .4s;

  &.burger-open__active {
    opacity: 0;
    visibility: hidden;
  }

  .line {
    margin-bottom: 10px;
    display: block;
    height: 4px;
    width: 45px;
    background-color: $red;
    border-radius: 5px;

    &:nth-child(3) {
      width: 37px;
    }
  }
}

.dropdown-toggle {
  @include fontz('Montserrat', 500, 14px, normal);
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}

.dropdown-wrap {
  width: fit-content;
  display: none;
  flex-direction: column;
  align-items: end;
  margin-bottom: 25px;

  &.dropdown-active {
    .dropdown-menu {
      visibility: visible;
      height: auto;
      opacity: 1;
      width: auto;
    }

    .dropdown-toggle {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

.dropdown-menu {
  visibility: hidden;
  height: 0;
  opacity: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  transition: all .4s;
}

.dropdown-link {
  width: 200px;
  text-align: end;
  font-weight: 400 !important;
  border-bottom: 1px solid #fff;
  padding: 20px 0px;
}

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    display: none;
    position: absolute;
    right: -15px;
    font-size: 20px;
  }
}