@import '~reset-css/reset.css';
@import './fonts.scss';
@import './vars.scss';
@import './mixins&patterns.scss';
@import './customForm.scss';

@import './header.scss';
@import './service.scss';
@import './contacts.scss';
@import './about.scss';
@import './footer.scss';
@import './section1.scss';
@import './section2.scss';
@import './section3.scss';
@import './section4.scss';
@import './section5.scss';
@import './section6.scss';
@import './section7.scss';
@import './section8.scss';
@import './section9.scss';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  @include fontz('Montserrat', 700, 40px, normal);
}

.btn-filled {
  @extend %btn-filled;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}


#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.sec-top {
  margin-top: $section-m;
}

html.scroll-active{
  position: relative;
  overflow: hidden;

  body {
    position: relative;
    overflow: hidden;
  }
}

html.scroll-active {
  body {
    position: fixed;
    overflow: hidden;
  }
}

//html {
  //width: 100%;
  //max-width: 100%;
  //overflow-x: hidden;
//}

body {
  //width: 100%;
  //max-width: 100%;
  overflow-x: hidden;
}

html.scroll-active {
  body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

@import './adaptive/header-media.scss';
@import './adaptive/footer-media.scss';
@import './adaptive/about-media.scss';
@import './adaptive/contacts-media.scss';
@import './adaptive/service-media.scss';
@import './adaptive/section1-media.scss';
@import './adaptive/section2-media.scss';
@import './adaptive/section3-media.scss';
@import './adaptive/section4-media.scss';
@import './adaptive/section5-media.scss';
@import './adaptive/section6-media.scss';
@import './adaptive/section7-media.scss';
@import './adaptive/section8-media.scss';
@import './adaptive/section9-media.scss';

@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}