.static-info__section {
  margin-top: $section-m;
  background-color: $red;
}

.static-info__section-block {
  padding: $padding-default;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.static-info__img-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-inf__img {
  width: 90%;
  object-fit: cover;
}

.static-info__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.static-info__title {
  @include fontz('Montserrat', 700, 35px, normal);
  color: #fff;
}

.static-info__text {
  @include fontz('Montserrat', 400, 18px, normal);
  color: #fff;

  &.m-bott {
    margin: 25px 0px;
  }
}

.static-info__btn {
  margin-top: 20px;
  @include fontz('Montserrat', 400, 18px, normal);
  max-width: 220px;
  color: #fff;
  padding: 15px 20px;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
}