@media screen and (max-width: 996px) {
  .footer-list {
    flex-direction: column;

    .footer-list__item[data-m] {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }

  .footer-list__block {
    align-items: end;
    margin-top: 20px;
    justify-content: end;
  }

  .footer-media__list-block {
    justify-content: end;
    align-items: end;
  }

  .footer-timetable {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: start;
    align-items: end;
    margin-top: 0px;
  }

  .footer-top__first-left__text {
    font-size: 18px;
  }

  .footer-top__second-left__text {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer-media__list {
    flex-direction: column;
    margin-top: 20px;

    .footer-media__item[data-mr] {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer-timetable {
    grid-row: 1/2;
    grid-column: 2/3;

    img {
      height: 45px;
      width: 45px;
    }
  }

  .footer-list__block {
    align-items: start;
  }

  .footer-top__first-left__text {
    font-size: 16px;
  }

  .footer-top__second-left__text {
    font-size: 13px;
  }

  .footer-timetable {
    justify-content: end;
    align-items: end;
  }

  .footer-timetable__body {
    align-items: end;
    text-align: end;
  }

  .timetable, .timetable-down {
    font-size: 12px !important;
  }
}