@media screen and (max-width: 767px) {
  .first-section__main-content {
    margin-top: 70px;
  }

  .first-section__header {
    display: none;
  }

  .first-section__hidden-block {
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .first-section__hidden-block {
    left: 10%;
  }
}

@media screen and (max-width: 380px) {
  .first-section__hidden-block {
    left: 10%;
  }
}